.container-fluid.col-xs-6
  = form_for(@participation) do |f|
    - if @participation.errors.any?
      #error_explanation
        %h2 #{pluralize(@participation.errors.count, 'error')} prohibited this participation from being saved:
        %ul
          - @participation.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :tournament
      = @participation.tournament.name
      = f.hidden_field :tournament_id
    .form-group
      = f.label :participant
      %p
      - if @participation.new_record?
        = f.select :user_id, options_from_collection_for_select(@users, :id, :name), class: 'form-control'
      - else
        = @participation.participant.name
    .form-group
      = f.label :name
      %p
      = f.text_field :name, class: 'form-control', size: '10'
    .form-group
      = link_to t('view.back'), :back, { class: 'btn btn-success' }
      &nbsp;
      = f.submit t('submit'), class: 'btn btn-primary'
