.container-fluid
  %table.table
    %tr
      %th
        = Participation.human_attribute_name(:name)
      %th
    - @participations.each do |pa|
      %tr
        %td
          = pa.name
        %td
          = link_to t('view.edit'), edit_participation_path(pa)
          |
          = link_to t('view.destroy'), pa, method: :delete, data: { confirm: t('view.destroy_confirm') }
  = link_to t('view.add'), new_participation_path(t_id: @tournament.id)
  |
  = link_to t('view.home'), root_path
