.container-fluid
  %form.navbar-form.navbar-left{ role: 'search', action: '/' }
    .form-group
      %input.form-control{ name: 'term', type: 'text', placeholder: t('view.dashboard.index.search_placeholder') }
      %button.btn.btn-default{ type: 'submit' }= t('submit')

.container-fluid
  - @tournaments.each do |t|
    .box-normal
      .panel.panel-info
        .panel-heading
          %h4
            = link_to t.name, t
        .panel-body
          %h4= t.description
          %h5= "at #{t.opened_at}"
