= form_for(@user) do |f|
  .container-fluid
    .col-xs-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :image_url
        = f.text_field :image_url, class: 'form-control'
      .form-group
        = f.label :time_zone
        %p
        = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, class: 'form-control'
      .form-group
        = link_to t('view.back'), :back, { class: 'btn btn-success' }
        &nbsp;
        %button.btn.btn-primary
          = t('submit')
