.container-fluid
  %p#notice= notice

.container-fluid
  %table.table
    %tr
      %th
        = User.human_attribute_name(:name)
      %td
        = @user.name
    %tr
      %th
        = User.human_attribute_name(:image_url)
      %td
        = @user.image_url
        %p
        = image_tag(@user.image_url)
    %tr
      %th
        = User.human_attribute_name(:time_zone)
      %td
        = @user.time_zone

  = link_to t('view.edit'), edit_user_path(@user.id)
  |
  = link_to t('view.home'), root_path
