= form_for(@tournament) do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2 #{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:
      %ul
        - @tournament.errors.full_messages.each do |message|
          %li= message
