= form_for(@tournament) do |f|
  .container-fluid
    .col-xs-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :opened_at
        %p
          = f.datetime_select :opened_at, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :published
        = f.check_box :published, class: 'form-control'
      .form-group
        = link_to t('view.back'), :back, { class: 'btn btn-success' }
        &nbsp;
        %button.btn.btn-primary
          = t('submit')
