= javascript_include_tag 'tournament/new'

= form_for(@tournament) do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2 #{pluralize(@tournament.errors.count, 'error')} prohibited this tournament from being saved:
      %ul
        - @tournament.errors.full_messages.each do |message|
          %li= message
  .container-fluid
    #root-wizard.col-xs-6
      .navbar
        .navbar-inner
          .container
            %ul
              %li
                %a{ href: '#tab1', 'data-toggle' => 'tab' }
                  = t('view.tournament.new.basic_info')
              %li
                %a{ href: '#tab2', 'data-toggle' => 'tab' }
                  = t('view.tournament.new.terms')
      .progress
        .bar.progress-bar{ role: 'progress-bar', 'aria-valuemin' => '0', 'aria-valuemdax' => '100' }
      .tab-content
        #tab1.tab-pane
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :opened_at
            %p
              = f.datetime_select :opened_at, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control'

        #tab2.tab-pane
          %p.text-center
            TODO: some terms and condition
          %p.text-center
            %input#acceptTerms.required{ name: 'acceptTerms', type: 'checkbox' }
            = t('accept_terms_and_condition')
        %ul.pager.wizard
          %li.previous.first{ style: 'display:none;' }
            %a{ href: '#' }
              = t('first')
          %li.previous
            %a{ href: '#' }
              = t('previous')
          %li.next.last{ style: 'display:none;' }
            %a{ href: '#' }
              = t('last')
          %li.next
            %a{ href: '#' }
              = t('next')
          %li.next.finish
            .form
              %button.btn.btn-primary.pull-right
                = t('create')
