= javascript_include_tag 'publish'

= render 'navigation'

.row
  .col-md-8.col-md-offset-2
    .panel.panel-info
      .panel-heading
        Publish
      .panel-body
        = form_for(@tournament) do |f|
          .form#form-values
            .form-group
              = f.label :published
            .form-group
              = f.check_box :published
          .form
            %button.btn.btn-primary#btn-publish
              Open / Close
