.container-fluid
  %p#notice= notice

.container-fluid
  %table.table
    %tr
      %th
        = Tournament.human_attribute_name(:name)
      %td
        = @tournament.name
    %tr
      %th
        = Tournament.human_attribute_name(:description)
      %td
        = @tournament.description
    %tr
      %th
        = Tournament.human_attribute_name(:opened_at)
      %td
        = @tournament.opened_at
    %tr
      %th
        = Tournament.human_attribute_name(:published)
      %td
        = @tournament.published
  - if current_user.can_update?(@tournament)
    = link_to t('view.edit'), edit_tournament_path(@tournament)
    |
  - if current_user.can_delete?(@tournament)
    = link_to t('view.destroy'), tournament_path(@tournament), method: :delete, data: { confirm: t('view.destroy_confirm') }
    |
  = link_to t('view.participation.index.title'), participations_path(t_id: @tournament.id)
  |
  = link_to t('view.management.index.title'), managements_path(t_id: @tournament.id)
  |
  = link_to t('view.home'), root_path
