= javascript_include_tag 'jcanvas'
= javascript_include_tag 'tournament'

= render 'navigation'

.row
  .col-md-8.col-md-offset-2
    .panel.panel-info
      .panel-heading
        Draw Tournament
      .panel-body
        .row
          = raw(@tournament_tags)
        .row
          = form_tag(controller: :tournaments , action: :add_participation) do
            %input.btn.pull-right{ type: :submit , value: 'Add Participation' }
            = link_to 'Go Next', publish_tournament_path(@tournament.id) , class: 'btn btn-primary pull-right' 
