.participants { 
    float:  left ;
    width:  60px ;
    height: 120px ;
    line-height:60px;
    text-align: center;
}

.participant { 
    height: 60px ;
}

.participants_gap { 
    height: 60px ;
}

.unit_vertical_container { 
    float:  left  ;
}

.unit_container { 
    width:  200px ;
    height:  60px ;
}

.centering_div {
    margin-left: auto;
    margin-right: auto;
}
