.container-fluid.col-xs-6
  = form_for(@management) do |f|
    - if @management.errors.any?
      #error_explanation
        %h2 #{pluralize(@management.errors.count, 'error')} prohibited this management from being saved:
        %ul
          - @management.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :tournament
      = @management.managed_tournament.name
      = f.hidden_field :tournament_id
    .form-group
      = f.label :manager
      %p
      - if @management.new_record?
        = f.select :user_id, options_from_collection_for_select(User.all, :id, :name), class: 'form-control'
      - else
        = @management.manager.name
    .form-group
      = f.label :role
      %p
      = f.select :role, options_from_collection_for_select(Role.all, :name, :name), class: 'form-control'
    .form-group
      = link_to t('view.back'), :back, { class: 'btn btn-success' }
      &nbsp;
      = f.submit t('submit'), class: 'btn btn-primary'
