.container-fluid
  %table.table
    %tr
      %th
        = Management.human_attribute_name(:name)
      %th
        = Management.human_attribute_name(:role)
      %th
    - @managements.each do |mng|
      %tr
        %td
          = mng.manager.nickname
        %td
          = mng.role
        %td
          - if current_user.can_update?(@tournament)
            = link_to t('view.destroy'), mng, method: :delete, data: { confirm: t('view.destroy_confirm') }
  - if current_user.can_update?(@tournament)
    = link_to t('view.add'), new_management_path(t_id: @tournament.id)
    |
  = link_to t('view.home'), root_path
